body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}

#img {
    height:200px;
    width:200px;
}

.h2 {
    text-align:center;
}
.containers {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

    
}
#cards {
    box-shadow: 0px -4px 2px #3EA055;
    width:300px;
    text-align:center;
    margin:20px;
}
.news__item {
    font-weight:bold;
}
.footer {
    font-size:15px;
}